---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

header {
    overflow: hidden;
  }
  
  header img {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  
  
  html {
    font-size: 22px;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }